.swiper .swiper-pagination,
.swiper .swiper-button-prev {
  color: #abc4aa;
}
.swiper .swiper-pagination-bullet-active {
  background-color: #abc4aa;
}
.swiper {
  width: 100%;
  margin: auto;
  position: relative;
}
